{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <div class="col-12-xs">
      <h3>Bucket List</h3>
      <h4>{{ my_bucket.creation_date | datetimeformat }}</h4>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <p class="bg-info" style="padding: 15px;">
        {% for message in messages %}
          {{ message }}<br>
        {% endfor %}
        </p>
      {% endif %}
    {% endwith %}
      <hr>
      <form class="upload-form" action="{{ url_for('files.upload') }}" method="POST" enctype="multipart/form-data">
        <p><input type="file" name="file"></p>
        <button type="submit" class="btn btn-primary">Upload</button>
      </form>
      <hr>
      <table class="table table-striped">
        <tr>
          <th>Bucket Name</th>
          <th>Created</th>
          <th>Type</th>
          <th>Options</th>
        </tr>
        {% for f in files %}
        <tr>
          <td>{{ f.key }}</td>
          <td>{{ f.last_modified | datetimeformat }}</td>
          <td>{{ f.key | file_type }}</td>
          <td class="td-buttons d-flex justify-content-around">
            <form class="delete-form" action="{{ url_for('files.delete') }}" method="POST">
              <input type="hidden" name="key" value="{{ f.key }}">
              <button type="submit" class="btn btn-danger btn-sm mdi mdi-delete">
              </button>
            </form>
            <form class="download-form" action="{{ url_for('files.download') }}" method="POST">
              <input type="hidden" name="key" value="{{ f.key }}">
              <button type="submit" class="btn btn-default btn-sm  mdi mdi-download">
              </button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock content %}