{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <div class="col-12-xs">
      <h3>Bucket List</h3>

      <table class="table table-striped">
        <tr>
          <th>Bucket Name</th>
          <th>Created</th>
          <th>{{ my_bucket.creation_date }}</th>
        </tr>

        {% for f in files %}
        <tr>
          <td>{{ f.key }}</td>
          <td>{{ f.last_modified }}</td>
          <td>
            <!-- <form class="select-bucket" action="{{ url_for('index') }}" method="post">
              <input type="hidden" name="bucket" value="{{ bucket['Name'] }}">
              <button type="submit" class="btn btn-primary btn-sm">
                <i class="fa fa-archive"></i>
                Select
              </button>
            </form> -->
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock content %}