{% extends "layout.html" %}
{% block content %}
        <article class="media content-section mt-4">
          <img class="rounded-circle" article-img src="">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">Leaderboard</a>
              <small class="text-muted"></small>
            </div>
            <h2><a class="article-title" href=""></a></h2>
            <p class="article-content"></p>
          </div>
        </article>
{% endblock content %} 